@import "home";
@import "_index";

.show-box {
 width: 600px;
 margin: 40px auto;
}

.show-box-sauce {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.chilli-banner {
  text-align: center;
  height: 225px;
  background-image: url(https://images.unsplash.com/photo-1606040821230-39d4fa66ddce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
}

.logo-small {
  text-align: center;
}

.logo-avatar {
  border-radius: 15px;
  margin-top: 20px;
}

.add-to-cart {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.checkout-div {
  margin-top: 25px;
}

.checkout {
  font-size: 20px;
  background-color: #cad315;
    font-family: 'Lora', serif;
    font-weight: bold;
    color: black;
    text-decoration-color:none;
    padding: 20px 40px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}


.footer {
  text-align: center;
  padding: 40px;
  background-image: url(https://images.unsplash.com/photo-1606040821230-39d4fa66ddce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
}

.order-payment-details {
  background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.purchase {
  margin-top: 30px;
}

.paypal {
  text-align: center;
}