<div class="banner">
  <div class="logo">
   <img src="https://res.cloudinary.com/rickyschoeman/image/upload/v1609403856/bossieslogo_xoqibz.jpg" alt="Bossies" width="200px">
  </div>
  <div class="container">
    <h1>"The best thing to come out of KZN since mango atchaar and the Sharks!"</h1>
    <h4> Add some spice to your life and flavour to your soul!</h4>
  </div>
</div>
<body>
<div class="intro">
  <h2> Made with love by the saltiest of sea dogs, and biggest fan of putting flame to vleis, Bossies Chilli co. is guaranteed to go down like a home-sick mole</h2>
</div>
<div class="container2">
  <h3>Our Ama-zing selection!</h3>
  <div class="cards">
    <div class="card">
      <img src="https://res.cloudinary.com/rickyschoeman/image/upload/v1609403301/chilli3_uxdgcy.jpg" alt>
      <h5>Sweet Chilli Green</h5>
      <p><b> Sweet, tangy and deliciously healthy </b><br>
       all the markings of the perfect companion for any dish</p>
    </div>
    <div class="card">
       <img src="https://res.cloudinary.com/rickyschoeman/image/upload/v1609403286/chilli2_dc6xdj.jpg" alt>
        <h5>Sweet Chilli</h5>
        <p><b> The old faithful </b><br>
        perfect with just about anything but really shines with chees and snack platters!</p>
    </div>
    <div class="card">
       <img src="https://res.cloudinary.com/rickyschoeman/image/upload/v1609403265/chilli1_qsxjf9.jpg" alt>
        <h5>Jala-Tangy</h5>
        <p><b> Sharp and smooth </b><br>
        the perfect marinade for all things meaty!Lather em up and let the feast commence!</p>
    </div>
  </div>
</div>
</body>
<div class="footer">
</div>